$b-t-s: 1rem;
$font-sm: $b-t-s * 0.75;
$font-lg: $b-t-s * 1.5;
$font-xl: $b-t-s * 2;
$font-xxl: $b-t-s * 3;

$colors: (
  "primary": #bf00ff,
  "success": #00ff80,
  "danger": #ff0000,
  "warning": #ffff00,
);

body {
  // background-color: burlywood;
  font-size: $font-lg;
  color: map-get($colors, "danger");
}

//////each control directive
///
///
///
/////////  each loops
///
@each $key, $val in $colors {
  .text-#{$key} {
    color: #{$val};
  }
  .bg-#{$key} {
    background-color: #{$val};
  } ////// for loops

  @for $i from 1 through 3 {
    .text-#{$key}-light-#{$i} {
      color: lighten($val, $i * 10%);
    }
    .bg-#{$key}-light-#{$i} {
      background-color: lighten($val, $i * 10%);
    }
  }

  @for $i from 1 through 3 {
    .text-#{$key}-dark-#{$i} {
      color: darken($val, $i * 10%);
    }
    .bg-#{$key}-dark-#{$i} {
      background-color: darken($val, $i * 10%);
    }
  }  
}
