body {
  font-size: 1.5rem;
  color: #ff0000;
}

.text-primary {
  color: #bf00ff;
}

.bg-primary {
  background-color: #bf00ff;
}

.text-primary-light-1 {
  color: rgb(203.8, 51, 255);
}

.bg-primary-light-1 {
  background-color: rgb(203.8, 51, 255);
}

.text-primary-light-2 {
  color: rgb(216.6, 102, 255);
}

.bg-primary-light-2 {
  background-color: rgb(216.6, 102, 255);
}

.text-primary-light-3 {
  color: rgb(229.4, 153, 255);
}

.bg-primary-light-3 {
  background-color: rgb(229.4, 153, 255);
}

.text-primary-dark-1 {
  color: rgb(152.8, 0, 204);
}

.bg-primary-dark-1 {
  background-color: rgb(152.8, 0, 204);
}

.text-primary-dark-2 {
  color: rgb(114.6, 0, 153);
}

.bg-primary-dark-2 {
  background-color: rgb(114.6, 0, 153);
}

.text-primary-dark-3 {
  color: rgb(76.4, 0, 102);
}

.bg-primary-dark-3 {
  background-color: rgb(76.4, 0, 102);
}

.text-success {
  color: #00ff80;
}

.bg-success {
  background-color: #00ff80;
}

.text-success-light-1 {
  color: rgb(51, 255, 153.4);
}

.bg-success-light-1 {
  background-color: rgb(51, 255, 153.4);
}

.text-success-light-2 {
  color: rgb(102, 255, 178.8);
}

.bg-success-light-2 {
  background-color: rgb(102, 255, 178.8);
}

.text-success-light-3 {
  color: rgb(153, 255, 204.2);
}

.bg-success-light-3 {
  background-color: rgb(153, 255, 204.2);
}

.text-success-dark-1 {
  color: rgb(0, 204, 102.4);
}

.bg-success-dark-1 {
  background-color: rgb(0, 204, 102.4);
}

.text-success-dark-2 {
  color: rgb(0, 153, 76.8);
}

.bg-success-dark-2 {
  background-color: rgb(0, 153, 76.8);
}

.text-success-dark-3 {
  color: rgb(0, 102, 51.2);
}

.bg-success-dark-3 {
  background-color: rgb(0, 102, 51.2);
}

.text-danger {
  color: #ff0000;
}

.bg-danger {
  background-color: #ff0000;
}

.text-danger-light-1 {
  color: #ff3333;
}

.bg-danger-light-1 {
  background-color: #ff3333;
}

.text-danger-light-2 {
  color: #ff6666;
}

.bg-danger-light-2 {
  background-color: #ff6666;
}

.text-danger-light-3 {
  color: #ff9999;
}

.bg-danger-light-3 {
  background-color: #ff9999;
}

.text-danger-dark-1 {
  color: #cc0000;
}

.bg-danger-dark-1 {
  background-color: #cc0000;
}

.text-danger-dark-2 {
  color: #990000;
}

.bg-danger-dark-2 {
  background-color: #990000;
}

.text-danger-dark-3 {
  color: #660000;
}

.bg-danger-dark-3 {
  background-color: #660000;
}

.text-warning {
  color: #ffff00;
}

.bg-warning {
  background-color: #ffff00;
}

.text-warning-light-1 {
  color: #ffff33;
}

.bg-warning-light-1 {
  background-color: #ffff33;
}

.text-warning-light-2 {
  color: #ffff66;
}

.bg-warning-light-2 {
  background-color: #ffff66;
}

.text-warning-light-3 {
  color: #ffff99;
}

.bg-warning-light-3 {
  background-color: #ffff99;
}

.text-warning-dark-1 {
  color: #cccc00;
}

.bg-warning-dark-1 {
  background-color: #cccc00;
}

.text-warning-dark-2 {
  color: #999900;
}

.bg-warning-dark-2 {
  background-color: #999900;
}

.text-warning-dark-3 {
  color: #666600;
}

.bg-warning-dark-3 {
  background-color: #666600;
}

.if-state {
  padding: 20px;
  color: white;
  color: black;
  border: 2px black solid;
}

/*# sourceMappingURL=output.css.map */
